body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overall-wrapper {
    max-width: 1000px;
    background-color: beige;
}

main {
    height: 100vh;
    background-color: aquamarine;
    flex-grow: 1;
}

h1 {
    color: red;
}
footer {
    position: sticky;
    bottom: 0;
}